.input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 20px;
    padding: 10px 25px;
    background: transparent;
    width: 250px;
    color: white;
}

.input:hover {
    border: 2px solid rgba(255, 255, 255, 0.293);
    box-shadow: 2px 2px 15px #8707ff inset;
}