div {
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(45, 1, 72);
    border: 2px solid rgb(131, 49, 237);
    box-shadow: 0 0 20px rgb(131, 49, 237);
    transition: box-shadow 0.3s ease;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.title-container {
    display: flex;
    justify-content: flex-start;
}