div {
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.title-container {
    display: flex;
    justify-content: flex-start;
}