img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.nav-div {
    display: flex;
    align-items: center;
}

.room-name {
    width: 800px;
    margin-right: 15%;
    margin-left: 28%;
}

.icon-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px
}

.icon-profile h4 {
    margin-right: 30px;
}