<div class="container">
    <div class="cards-container">
        <div class="card">
            <app-card/>
            <p>Texto 1</p>
        </div>
        <div class="card">
            <app-card/>
            <p>Texto 2</p>
        </div>
        <div class="card">
            <app-card/>
            <p>Texto 3</p>
        </div>
    </div>
    <div class="table-container">
        <div class="card">
            <app-card/>
            <p>Texto 4</p>
        </div>
        <div class="table">
            <app-button/>
        </div>
        <div class="card">
            <app-card/>
            <p>Texto 5</p>
        </div>
    </div>
    <div class="cards-container">
        <div class="card">
            <app-card/>
            <p>Texto 6</p>
        </div>
        <div class="card">
            <app-card/>
            <p>Texto 7</p>
        </div>
        <div class="card">
            <app-card/>
            <p>Texto 8</p>
        </div>
    </div>
</div>